<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B095</title>
    <link rel="shortcut icon" href="/static/images/khoo.png" type="image/png">
    <link href="/static/css/style.default.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/modernizr.min.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>
<script src="/static/js/toggles.min.js"></script>
<script src="/static/js/retina.min.js"></script>
<script src="/static/js/jquery.cookies.js"></script>

<script src="/static/js/flot/jquery.flot.min.js"></script>
<script src="/static/js/flot/jquery.flot.resize.min.js"></script>
<script src="/static/js/flot/jquery.flot.spline.min.js"></script>
<script src="/static/js/morris.min.js"></script>
<script src="/static/js/raphael-2.1.0.min.js"></script>

<script src="/static/js/custom.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/time.js?v=16"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

  <div class="leftpanel">

    <div class="logopanel">
        <h1><span>[</span> KTPH <span>]</span></h1>
    </div><!-- logopanel -->

    <div class="leftpanelinner">

        <!-- This is only visible to small devices -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media userlogged">
                
                <div class="media-body">
                   {{username}}
                </div>
            </div>

            <h5 class="sidebartitle actitle">Account</h5>
            <!-- <ul class="nav nav-pills nav-stacked nav-bracket mb30">
              <li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
              <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
              <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>
              <li><a href="signout.html"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
            </ul> -->
        </div>

      <h5 class="sidebartitle">Navigation</h5>
      <ul class="nav nav-pills nav-stacked nav-bracket">
        <li ><a href="/home"><i class="fa fa-home"></i> <span> Home</span></a>
        </li>
        <li class="nav-parent nav-active active"><a href=""><i class="fa fa-bar-chart-o"></i> <span>Inpatient: Report</span></a>
          <ul class="children" style="display: block">
             {% for item in result['indepartments'] %}
                  <li><a href="/Inpatient/{{item}}"><i class="fa fa-caret-right"></i> {{item}}</a></li>
              {% endfor %}
          </ul>
        </li>
        <li class="nav-parent"><a href=""><i class="glyphicon glyphicon-th-list"></i> <span>Outpatient: Report</span></a>
          <ul class="children" style="display: block">
            {% for item in result['outdepartments'] %}
                  <li><a href="/{{item}}"><i class="fa fa-caret-right"></i> {{item}}</a></li>
              {% endfor %}
          </ul>
        </li>
{#        <li><a href="email.html"><span class="pull-right badge badge-success">2</span><i class="fa fa-envelope-o"></i> <span>Email</span></a></li>#}
{#        <li class="nav-parent"><a href=""><i class="fa fa-edit"></i> <span>Forms</span></a>#}
{#          <ul class="children">#}
{#            <li><a href="general-forms.html"><i class="fa fa-caret-right"></i> General Forms</a></li>#}
{#            <li><a href="form-layouts.html"><i class="fa fa-caret-right"></i> Form Layouts</a></li>#}
{#            <li><a href="form-validation.html"><i class="fa fa-caret-right"></i> Form Validation</a></li>#}
{#            <li><a href="form-wizards.html"><i class="fa fa-caret-right"></i> Form Wizards</a></li>#}
{#            <li><a href="wysiwyg.html"><i class="fa fa-caret-right"></i> Text Editor</a></li>#}
{#            <li><a href="code-editor.html"><i class="fa fa-caret-right"></i> Code Editor</a></li>#}
{#            <li><a href="x-editable.html"><i class="fa fa-caret-right"></i> X-Editable</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="nav-parent"><a href=""><i class="fa fa-suitcase"></i> <span>UI Elements</span></a>#}
{#          <ul class="children">#}
{#            <li><a href="buttons.html"><i class="fa fa-caret-right"></i> Buttons</a></li>#}
{#            <li><a href="icons.html"><span class="pull-right badge badge-danger">updated</span><i class="fa fa-caret-right"></i> Icons</a></li>#}
{#            <li><a href="typography.html"><i class="fa fa-caret-right"></i> Typography</a></li>#}
{#            <li><a href="alerts.html"><i class="fa fa-caret-right"></i> Alerts &amp; Notifications</a></li>#}
{#            <li><a href="modals.html"><i class="fa fa-caret-right"></i> Modals</a></li>#}
{#            <li><a href="tabs-accordions.html"><i class="fa fa-caret-right"></i> Tabs &amp; Accordions</a></li>#}
{#            <li><a href="sliders.html"><i class="fa fa-caret-right"></i> Sliders</a></li>#}
{#            <li><a href="graphs.html"><i class="fa fa-caret-right"></i> Graphs &amp; Charts</a></li>#}
{#            <li><a href="widgets.html"><i class="fa fa-caret-right"></i> Panels &amp; Widgets</a></li>#}
{#            <li><a href="extras.html"><i class="fa fa-caret-right"></i> Extras</a></li>#}
{#          </ul>#}
{#        </li>#}
        <li><a href="/tables"><i class="fa fa-th-list"></i> <span>Improvment</span></a></li>
{#        <li class="nav-parent"><a href=""><i class="fa fa-bug"></i> <span>Bug Tracker</span></a>#}
{#            <ul class="children">#}
{#                <li><a href="bug-tracker.html"><i class="fa fa-caret-right"></i> Summary</a></li>#}
{#                <li><a href="bug-issues.html"><i class="fa fa-caret-right"></i> Issues</a></li>#}
{#                <li><a href="view-issue.html"><i class="fa fa-caret-right"></i> View Issue</a></li>#}
{#            </ul>#}
{#        </li>#}
{#        <li><a href="maps.html"><i class="fa fa-map-marker"></i> <span>Maps</span></a></li>#}
{#        <li class="nav-parent"><a href=""><i class="fa fa-file-text"></i> <span>Pages</span></a>#}
{#          <ul class="children">#}
{#            <li><a href="calendar.html"><i class="fa fa-caret-right"></i> Calendar</a></li>#}
{#            <li><a href="media-manager.html"><i class="fa fa-caret-right"></i> Media Manager</a></li>#}
{#            <li><a href="timeline.html"><i class="fa fa-caret-right"></i> Timeline</a></li>#}
{#            <li><a href="blog-list.html"><i class="fa fa-caret-right"></i> Blog List</a></li>#}
{#            <li><a href="blog-single.html"><i class="fa fa-caret-right"></i> Blog Single</a></li>#}
{#            <li><a href="people-directory.html"><i class="fa fa-caret-right"></i> People Directory</a></li>#}
{#            <li><a href="profile.html"><i class="fa fa-caret-right"></i> Profile</a></li>#}
{#            <li><a href="invoice.html"><i class="fa fa-caret-right"></i> Invoice</a></li>#}
{#            <li><a href="search-results.html"><i class="fa fa-caret-right"></i> Search Results</a></li>#}
{#            <li><a href="blank.html"><i class="fa fa-caret-right"></i> Blank Page</a></li>#}
{#            <li><a href="notfound.html"><i class="fa fa-caret-right"></i> 404 Page</a></li>#}
{#            <li><a href="locked.html"><i class="fa fa-caret-right"></i> Locked Screen</a></li>#}
{#            <li><a href="signin.html"><i class="fa fa-caret-right"></i> Sign In</a></li>#}
{#            <li><a href="signup.html"><i class="fa fa-caret-right"></i> Sign Up</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="nav-parent"><a href="layouts.html"><i class="fa fa-laptop"></i> <span>Skins &amp; Layouts</span></a>#}
{#            <ul class="children">#}
{#                <li><a href="layouts.html"><i class="fa fa-caret-right"></i> General Layouts</a></li>#}
{#                <li><a href="horizontal-menu.html"><i class="fa fa-caret-right"></i> Top Menu</a></li>#}
{#                <li><a href="horizontal-menu2.html"><i class="fa fa-caret-right"></i> Top Menu w/ Sidebar</a></li>#}
{#                <li><a href="fixed-width.html"><i class="fa fa-caret-right"></i> Fixed Width Page</a></li>#}
{#                <li><a href="fixed-width2.html"><i class="fa fa-caret-right"></i> Fixed Width w/ Menu</a></li>#}
{#            </ul>#}
{#        </li>#}
      </ul>

{#      <div class="infosummary">#}
{#        <h5 class="sidebartitle">Information Summary</h5>#}
{#        <ul>#}
{#            <li>#}
{#                <div class="datainfo">#}
{#                    <span class="text-muted">Daily Traffic</span>#}
{#                    <h4>630, 201</h4>#}
{#                </div>#}
{#                <div id="sidebar-chart" class="chart"></div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="datainfo">#}
{#                    <span class="text-muted">Average Users</span>#}
{#                    <h4>1, 332, 801</h4>#}
{#                </div>#}
{#                <div id="sidebar-chart2" class="chart"></div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="datainfo">#}
{#                    <span class="text-muted">Disk Usage</span>#}
{#                    <h4>82.2%</h4>#}
{#                </div>#}
{#                <div id="sidebar-chart3" class="chart"></div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="datainfo">#}
{#                    <span class="text-muted">CPU Usage</span>#}
{#                    <h4>140.05 - 32</h4>#}
{#                </div>#}
{#                <div id="sidebar-chart4" class="chart"></div>#}
{#            </li>#}
{#            <li>#}
{#                <div class="datainfo">#}
{#                    <span class="text-muted">Memory Usage</span>#}
{#                    <h4>32.2%</h4>#}
{#                </div>#}
{#                <div id="sidebar-chart5" class="chart"></div>#}
{#            </li>#}
{#        </ul>#}
{#      </div><!-- infosummary -->#}

    </div><!-- leftpanelinner -->
  </div><!-- leftpanel -->

  <div class="mainpanel">

    <div class="headerbar">

      <a class="menutoggle"><i class="fa fa-bars"></i></a>

     <!--  <form class="searchform" action="index.html" method="post">
        <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
      </form> -->

      <div class="header-right">
        <ul class="headermenu">
          <li>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
               
                {{ username }}
                <span class="caret"></span>
              </button>
              <!-- <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="profile.html"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                <li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>
              </ul> -->
            </div>
          </li>
          
        </ul>
      </div><!-- header-right -->

    </div><!-- headerbar -->

    <div class="pageheader">
      <h2><i class="fa fa-home"></i> Inpatient </h2>
      <div class="breadcrumb-wrapper">
        <span class="label">You are here:</span>
        <ol class="breadcrumb">
          <li><a href="/home">KTPH</a></li>
          <li class="active">Inpatient</li>
        </ol>
      </div>
    </div>

    <div class = "contentpanel">
        <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">{{ department }} Feedback Report</h4>
          <div class="mb10"></div>
          <ul class="nav nav-tabs" >
          <li class="active"><a href="#home" data-toggle="tab"><strong>Home</strong></a></li>
          <li><a href="#male" data-toggle="tab"><strong>Male</strong></a></li>
          <li><a href="#female" data-toggle="tab"><strong>Female</strong></a></li>
          <li><a href="#young" data-toggle="tab"><strong>Young</strong></a></li>
          <li><a href="#middle" data-toggle="tab"><strong>Middle-Age</strong></a></li>
          <li><a href="#senior" data-toggle="tab"><strong>Senior</strong></a></li>
          <li><a href="#elderly" data-toggle="tab"><strong>Elderly</strong></a></li>
        </ul>
        <div style="margin-bottom: 2px"></div>
        </div><!-- panel-heading -->
        <div class="tab-content">
        <div class="panel-body tab-pane active" id = "home">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div style="width: 100%; height: 300px">
                    <canvas id="home_OverallExperience"></canvas>
                </div>

              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px">
                     <canvas id="home_doctors"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <div id="trackingchart" style="width: 100%; height: 300px">
                    <canvas id="home_nurses"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px">
                    <canvas id="home_AHPS"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px">
                    <canvas id="home_meals"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px">
                    <canvas id="home_Medications"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px">
                     <canvas id="home_Admission"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px">
                    <canvas id="home_Empowerment"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div>

        <div class="panel-body tab-pane" id = "male">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div style="width: 100%; height: 300px">
                    <canvas id="male_Overall Experience"></canvas>
                </div>

              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px">
                     <canvas id="male_Doctors"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <div id="trackingchart" style="width: 100%; height: 300px">
                    <canvas id="male_Nurses"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px">
                    <canvas id="male_Allied Health Staff"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px">
                    <canvas id="male_Environment Meals and Facilities"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px">
                    <canvas id="male_Medications"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px">
                     <canvas id="male_Admission"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px">
                    <canvas id="male_Patient/Family Empowerment and Care Transition"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div>



        <div class="panel-body tab-pane" id = "female">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div style="width: 100%; height: 300px">
                    <canvas id="male_Overall Experience"></canvas>
                </div>

              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px">
                     <canvas id="male_Doctors"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <div id="trackingchart" style="width: 100%; height: 300px">
                    <canvas id="male_Nurses"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px">
                    <canvas id="male_Allied Health Staff"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px">
                    <canvas id="male_Environment Meals and Facilities"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px">
                    <canvas id="male_Medications"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px">
                     <canvas id="male_Admission"></canvas>
                </div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px">
                    <canvas id="male_Patient/Family Empowerment and Care Transition"></canvas>
                </div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div>

        <div class="panel-body tab-pane" id = "young">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div id="basicflot" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <p class="mb15">You can add crosshairs that'll track the mouse position, either on both axes or as here on only one. </p>
                <div id="trackingchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div>


        <div class="panel-body tab-pane" id = "middle">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div id="basicflot" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <div id="trackingchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div>

        <div class="panel-body tab-pane" id = "senior">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div id="basicflot" style="width: 100%; height: 300px"></div>

              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <div id="trackingchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div>


        <div class="panel-body tab-pane" id = "elderly">

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Overall Experience Rating</h5>
                <div id="basicflot" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Doctors Rating</h5>
                <div id="basicflot2" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Nurses Rating</h5>
                <div id="trackingchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications With Allied Health Staff Rating</h5>
                <div id="realtimechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Environment Meals and Facilities Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Communications On Medications Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->

            <div class="row">
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Admission Rating</h5>
                <div id="barchart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
              <div class="col-md-6 mb30">
                <h5 class="subtitle mb5">Patient/Family Empowerment and Care Transition Rating</h5>
                <div id="piechart" style="width: 100%; height: 300px"></div>
              </div><!-- col-md-6 -->
            </div><!-- row -->
        </div><!--tab-content-->

       </div>

     </div>



    </div><!--contentpanel-->


  </div><!--mainpanel-->


</section>


<div style="text-align:center;">
<p>© Copyright 2018 Khoo Teck Puat Hospital. All Rights Reserved.</p>
</div>

<script>
Chart.defaults.global.responsive = true;
Chart.defaults.global.maintainAspectRatio=false;
// define the chart data
var report = JSON.parse('{{ report| tojson | safe}}');
{#var ratings = ['Overall Experience','Doctors','Nurses','Allied Health Staff','Environment Meals and Facilities','Medications','Admission','Patient/Family Empowerment and Care Transition'];#}
for (var i in report){
    var chartData = {
  labels : [{% for item in result['mons'] %}
              "{{item}}",
            {% endfor %}],
  datasets : [{
      label: '{{result['legend1']}}',
      backgroundColor: "#FF6384",
      borderColor: "#FF6384",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#FF6384",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : report[i][0],
      fill:false,
      spanGaps: false,
      lineTension: 0,
  }, {
      label: '{{result['legend2']}}' ,
      backgroundColor: "#FFCE56",
      borderColor: "#FFCE56",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#FFCE56",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: report[i][1],
      fill: false,
      spanGaps: false,
      lineTension: 0,
  },
  {
      label: '{{result['legend3']}}' ,
      backgroundColor: "#36A2EB",
      borderColor: "#36A2EB",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#36A2EB",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: report[i][2],
      fill: false,
      spanGaps: false,
      lineTension: 0,
  }

  ]}


var opt = {
    events: false,
    tooltips: {
        enabled: false
    },
    hover: {
        animationDuration: 0
    },


    scales: {
    yAxes: [{
            ticks: {
              min:0,
              steps: 10,
              stepValue: 0.1,
              max: 1
  
                },   
            }]
    },
  

    animation: {
        duration: 1,
        onComplete: function () {
            var chartInstance = this.chart,
                ctx = chartInstance.ctx;
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';
            ctx.fillStyle = this.chart.config.options.defaultFontColor;
            this.data.datasets.forEach(function (dataset, i) {

                var meta = chartInstance.controller.getDatasetMeta(i);
                meta.data.forEach(function (bar, index) {
                    if(index==0) {
                        var data = dataset.data[index].toFixed(4);
                        data = data * 100;
                        data = data.toFixed(2) + "%";
                        ctx.fillText(data, bar._model.x + 20, bar._model.y - 5);
                    }else{
                        var data = dataset.data[index].toFixed(4);
                        data = data * 100;
                        data = data.toFixed(2) + "%";
                        ctx.fillText(data, bar._model.x , bar._model.y - 1);
                    }
                });
            });
        }
    }
};
// get chart canvas
var id = "home_"+i;
var ctx = document.getElementById(id).getContext("2d");
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
  options: opt



})
{#var myChart = new Chart(ctx).Line(chartData, {#}
{#    showTooltips: false,#}
{#    onAnimationComplete: function () {#}
{##}
{#        var ctx = this.chart.ctx;#}
{#        ctx.font = this.scale.font;#}
{#        ctx.fillStyle = this.scale.textColor#}
{#        ctx.textAlign = "center";#}
{#        ctx.textBaseline = "bottom";#}
{##}
{#        this.datasets.forEach(function (dataset) {#}
{#            dataset.points.forEach(function (points) {#}
{#                ctx.fillText(points.value, points.x, points.y - 10);#}
{#            });#}
{#        })#}
{#    }#}
{#{);#}


}

</script>

<script>
Chart.defaults.global.responsive = true;
Chart.defaults.global.maintainAspectRatio=false;
// define the chart data
var report = JSON.parse('{{ report| tojson | safe}}');
{#var ratings = ['Overall Experience','Doctors','Nurses','Allied Health Staff','Environment Meals and Facilities','Medications','Admission','Patient/Family Empowerment and Care Transition'];#}
for (var i in report){
    var chartData = {
  labels : [{% for item in result['mons'] %}
              "{{item}}",
            {% endfor %}],
  datasets : [{
      label: '{{result['legend1']}}',
      backgroundColor: "#FF6384",
      borderColor: "#FF6384",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#FF6384",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data : report[i][0],
      fill:false,
      spanGaps: false,
      lineTension: 0,
  }, {
      label: '{{result['legend2']}}' ,
      backgroundColor: "#FFCE56",
      borderColor: "#FFCE56",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#FFCE56",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: report[i][1],
      fill: false,
      spanGaps: false,
      lineTension: 0,
  },
  {
      label: '{{result['legend3']}}' ,
      backgroundColor: "#36A2EB",
      borderColor: "#36A2EB",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "#36A2EB",
      pointBackgroundColor: "#fff",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(75,192,192,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
      data: report[i][2],
      fill: false,
      spanGaps: false,
      lineTension: 0,
  }

  ]}

var opt = {

    scales: {
    yAxes: [{
            ticks: {
              beginAtZero: true,
              steps: 10,
              stepValue: 0.1,
              max: 1
  
                },   
            }]
    },
  }
// get chart canvas
var id = "male_"+i;
var ctx = document.getElementById(id).getContext("2d");
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
  options: opt,
  })


}

</script>


</body>
</html>